:root {
    --vscode-activityBar-activeBackground: #22a5c926;
    --vscode-activityBar-activeBorder: #22a5c9;
    --vscode-activityBar-background: #e9ebed;
    --vscode-activityBar-border: #c9ced2;
    --vscode-activityBar-dropBorder: #68919c33;
    --vscode-activityBar-foreground: #22a5c9;
    --vscode-activityBar-inactiveForeground: #949ea3;
    --vscode-activityBarBadge-background: #22a5c9;
    --vscode-activityBarBadge-foreground: #e9ebed;
    --vscode-activityBarTop-activeBorder: #22a5c9;
    --vscode-activityBarTop-dropBorder: #68919c33;
    --vscode-activityBarTop-foreground: #22a5c9;
    --vscode-activityBarTop-inactiveForeground: #a5a9aa;
    --vscode-badge-background: #22a5c9;
    --vscode-badge-foreground: #e9ebed;
    --vscode-breadcrumb-background: #f3f4f5;
    --vscode-breadcrumbPicker-background: #ffffff;
    --vscode-button-background: #22a5c980;
    --vscode-button-border: #00000026;
    --vscode-button-foreground: #000000;
    --vscode-button-hoverBackground: #22a5c999;
    --vscode-button-secondaryBackground: #e0e2e5;
    --vscode-button-secondaryForeground: #091316;
    --vscode-button-secondaryHoverBackground: #d7dbde;
    --vscode-button-separator: #0000004d;
    --vscode-charts-blue: #0073d1;
    --vscode-charts-foreground: #091316;
    --vscode-charts-green: #189433;
    --vscode-charts-lines: #091316;
    --vscode-charts-orange: #d06200;
    --vscode-charts-purple: #e022b4;
    --vscode-charts-red: #d03333;
    --vscode-charts-yellow: #bb9600;
    --vscode-checkbox-foreground: #091316;
    --vscode-commandCenter-activeBackground: #f9f9fa61;
    --vscode-commandCenter-activeForeground: #0000008f;
    --vscode-commandCenter-background: #f3f4f5;
    --vscode-commandCenter-border: #c9ced2;
    --vscode-commandCenter-foreground: #68919c;
    --vscode-contrastActiveBorder: #00000000;
    --vscode-contrastBorder: #00000000;
    --vscode-debugConsole-errorForeground: #ac2121;
    --vscode-debugConsole-infoForeground: #0468bf;
    --vscode-debugConsole-warningForeground: #bc7400;
    --vscode-debugExceptionWidget-background: #f9f9fa;
    --vscode-debugExceptionWidget-border: #c9ced2;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ac2121;
    --vscode-debugIcon-breakpointDisabledForeground: #ac212180;
    --vscode-debugIcon-breakpointForeground: #ac2121;
    --vscode-debugIcon-continueForeground: #0468bf;
    --vscode-debugIcon-disconnectForeground: #ac2121;
    --vscode-debugIcon-pauseForeground: #ac2121;
    --vscode-debugIcon-restartForeground: #14852a;
    --vscode-debugIcon-startForeground: #14852a;
    --vscode-debugIcon-stepBackForeground: #0468bf;
    --vscode-debugIcon-stepIntoForeground: #0468bf;
    --vscode-debugIcon-stepOutForeground: #0468bf;
    --vscode-debugIcon-stepOverForeground: #0468bf;
    --vscode-debugIcon-stopForeground: #ac2121;
    --vscode-debugToolBar-background: #e2ecf1;
    --vscode-descriptionForeground: #091316cc;
    --vscode-diffEditor-border: #c9ced2;
    --vscode-diffEditor-diagonalFill: #ffffff;
    --vscode-diffEditor-insertedLineBackground: #0990231a;
    --vscode-diffEditor-insertedTextBackground: #0990231a;
    --vscode-diffEditor-insertedTextBorder: #00000000;
    --vscode-diffEditor-move-border: #bb96004d;
    --vscode-diffEditor-moveActive-border: #bb9600b3;
    --vscode-diffEditor-removedLineBackground: #bb12121a;
    --vscode-diffEditor-removedTextBackground: #bb12121a;
    --vscode-diffEditor-removedTextBorder: #00000000;
    --vscode-diffEditor-unchangedCodeBackground: #e6e8eb;
    --vscode-diffEditor-unchangedRegionBackground: #e6e8eb;
    --vscode-diffEditor-unchangedRegionShadow: #00000033;
    --vscode-diffEditorGutter-insertedLineBackground: #00000000;
    --vscode-diffEditorGutter-removedLineBackground: #00000000;
    --vscode-diffEditorOverview-insertedForeground: #14852a26;
    --vscode-diffEditorOverview-removedForeground: #ac212130;
    --vscode-disabledForeground: #0913164d;
    --vscode-dropdown-background: #f9f9fa;
    --vscode-dropdown-border: #bbc1c7;
    --vscode-dropdown-foreground: #091316;
    --vscode-dropdown-listBackground: #f9f9fa;
    --vscode-editor-background: #f3f4f5;
    --vscode-editor-findMatchBackground: #22a5c930;
    --vscode-editor-findMatchBorder: #22a5c961;
    --vscode-editor-findMatchHighlightBackground: #22a5c93d;
    --vscode-editor-findMatchHighlightBorder: #22a5c95c;
    --vscode-editor-foldBackground: #0000000d;
    --vscode-editor-foldPlaceholderForeground: #68919c;
    --vscode-editor-foreground: #091316;
    --vscode-editor-hoverHighlightBackground: #22a5c94d;
    --vscode-editor-inactiveSelectionBackground: #22a5c94d;
    --vscode-editor-lineHighlightBackground: #22a5c90f;
    --vscode-editor-lineHighlightBorder: #22a5c926;
    --vscode-editor-linkedEditingBackground: #0073d133;
    --vscode-editor-rangeHighlightBackground: #22a5c93d;
    --vscode-editor-selectionBackground: #22a5c94d;
    --vscode-editor-selectionForeground: #091316;
    --vscode-editor-selectionHighlightBackground: #22a5c914;
    --vscode-editor-selectionHighlightBorder: #22a5c94d;
    --vscode-editor-wordHighlightBackground: #22a5c91f;
    --vscode-editor-wordHighlightBorder: #22a5c93d;
    --vscode-editor-wordHighlightStrongBackground: #22a5c93d;
    --vscode-editorBracketHighlight-foreground1: #bb9600;
    --vscode-editorBracketHighlight-foreground2: #e022b4;
    --vscode-editorBracketHighlight-foreground3: #0073d1;
    --vscode-editorBracketHighlight-foreground4: #8737e6;
    --vscode-editorBracketHighlight-foreground5: #009999;
    --vscode-editorBracketHighlight-foreground6: #e8386a;
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: #ac2121;
    --vscode-editorBracketMatch-background: #22a5c94d;
    --vscode-editorBracketMatch-border: #22a5c973;
    --vscode-editorCodeLens-foreground: #00000080;
    --vscode-editorCursor-background: #22a5c9;
    --vscode-editorCursor-foreground: #bb9600;
    --vscode-editorError-border: #00000000;
    --vscode-editorError-foreground: #ac2121;
    --vscode-editorGhostText-border: #00000000;
    --vscode-editorGhostText-foreground: #09131670;
    --vscode-editorGroup-border: #c9ced2;
    --vscode-editorGroup-dropBackground: #22a5c914;
    --vscode-editorGroupHeader-border: #00000000;
    --vscode-editorGroupHeader-noTabsBackground: #f3f4f5;
    --vscode-editorGroupHeader-tabsBackground: #e9ebed;
    --vscode-editorGroupHeader-tabsBorder: #c9ced2;
    --vscode-editorGutter-addedBackground: #14852acc;
    --vscode-editorGutter-background: #f3f4f5;
    --vscode-editorGutter-commentRangeForeground: #f9f9fa;
    --vscode-editorGutter-deletedBackground: #ac2121cc;
    --vscode-editorGutter-modifiedBackground: #0468bfcc;
    --vscode-editorHoverWidget-background: #f9f9fa;
    --vscode-editorHoverWidget-border: #c9ced2;
    --vscode-editorIndentGuide-activeBackground1: #68919ccc;
    --vscode-editorIndentGuide-background1: #68919c33;
    --vscode-editorInfo-border: #00000000;
    --vscode-editorInlayHint-background: #0000001a;
    --vscode-editorInlayHint-foreground: #000000b3;
    --vscode-editorInlayHint-parameterBackground: #0000001a;
    --vscode-editorInlayHint-parameterForeground: #000000b3;
    --vscode-editorInlayHint-typeBackground: #0000001a;
    --vscode-editorInlayHint-typeForeground: #000000b3;
    --vscode-editorLineNumber-activeForeground: #3c4247;
    --vscode-editorLineNumber-foreground: #aeb6ba;
    --vscode-editorLink-activeForeground: #091316;
    --vscode-editorMarkerNavigation-background: #e9ebed;
    --vscode-editorMarkerNavigationError-background: #ac21218f;
    --vscode-editorMarkerNavigationInfo-background: #0468bf8f;
    --vscode-editorMarkerNavigationWarning-background: #bc74008f;
    --vscode-editorOverviewRuler-addedForeground: #14852a80;
    --vscode-editorOverviewRuler-border: #c9ced2;
    --vscode-editorOverviewRuler-deletedForeground: #ac212180;
    --vscode-editorOverviewRuler-errorForeground: #ac2121;
    --vscode-editorOverviewRuler-incomingContentForeground: #14852a80;
    --vscode-editorOverviewRuler-infoForeground: #0468bf80;
    --vscode-editorOverviewRuler-modifiedForeground: #0468bf80;
    --vscode-editorOverviewRuler-selectionHighlightForeground: #22a5c980;
    --vscode-editorOverviewRuler-warningForeground: #bc7400;
    --vscode-editorRuler-foreground: #68919c33;
    --vscode-editorStickyScroll-shadow: #00000033;
    --vscode-editorStickyScrollHover-background: #fbfcfc;
    --vscode-editorSuggestWidget-background: #f9f9fa;
    --vscode-editorSuggestWidget-border: #c9ced2;
    --vscode-editorSuggestWidget-foreground: #000000;
    --vscode-editorSuggestWidget-highlightForeground: #bb9600;
    --vscode-editorSuggestWidget-selectedBackground: #e5e7e9;
    --vscode-editorSuggestWidget-selectedIconForeground: #091316;
    --vscode-editorUnnecessaryCode-border: #00000000;
    --vscode-editorUnnecessaryCode-opacity: #000000aa;
    --vscode-editorWarning-border: #00000000;
    --vscode-editorWarning-foreground: #bb9600;
    --vscode-editorWhitespace-foreground: #68919c60;
    --vscode-editorWidget-background: #f9f9fa;
    --vscode-editorWidget-border: #d7dbde;
    --vscode-editorWidget-resizeBorder: #22a5c950;
    --vscode-errorForeground: #ac2121;
    --vscode-errorLens-errorForeground: #ac2121fc;
    --vscode-errorLens-hintForeground: #0468bffc;
    --vscode-errorLens-infoForeground: #0468bffc;
    --vscode-errorLens-warningForeground: #bc7400fc;
    --vscode-extensionButton-background: #22a5c980;
    --vscode-extensionButton-foreground: #000000;
    --vscode-extensionButton-hoverBackground: #22a5c999;
    --vscode-extensionButton-prominentBackground: #22a5c99d;
    --vscode-extensionButton-prominentForeground: #091316;
    --vscode-extensionButton-prominentHoverBackground: #22a5c9;
    --vscode-focusBorder: #bbc1c7;
    --vscode-foreground: #000000;
    --vscode-gitDecoration-conflictingResourceForeground: #22a5c9;
    --vscode-gitDecoration-deletedResourceForeground: #ac2121;
    --vscode-gitDecoration-ignoredResourceForeground: #68919c;
    --vscode-gitDecoration-modifiedResourceForeground: #0468bf;
    --vscode-gitDecoration-untrackedResourceForeground: #14852a;
    --vscode-icon-foreground: #000000ab;
    --vscode-inlineChat-background: #ffffff;
    --vscode-inlineChat-border: #d7dbde;
    --vscode-inlineChatInput-background: #f9f9fa;
    --vscode-inlineChatInput-border: #d7dbde;
    --vscode-inlineChatInput-focusBorder: #bbc1c7;
    --vscode-inlineEdit-gutterIndicator-background: #00000080;
    --vscode-inlineEdit-gutterIndicator-primaryBackground: #ffd322b3;
    --vscode-inlineEdit-gutterIndicator-primaryBorder: #ffd32200;
    --vscode-inlineEdit-gutterIndicator-primaryForeground: #000000;
    --vscode-inlineEdit-gutterIndicator-secondaryBackground: #6bcbe6b3;
    --vscode-inlineEdit-gutterIndicator-secondaryBorder: #6bcbe600;
    --vscode-inlineEdit-gutterIndicator-secondaryForeground: #000000;
    --vscode-inlineEdit-gutterIndicator-successfulBackground: #21de46b3;
    --vscode-inlineEdit-gutterIndicator-successfulBorder: #21de4600;
    --vscode-inlineEdit-gutterIndicator-successfulForeground: #000000;
    --vscode-inlineEdit-modifiedBackground: #14852a26;
    --vscode-inlineEdit-modifiedBorder: #14852acc;
    --vscode-inlineEdit-modifiedChangedLineBackground: #14852a14;
    --vscode-inlineEdit-modifiedChangedTextBackground: #00000000;
    --vscode-inlineEdit-originalBackground: #d0333326;
    --vscode-inlineEdit-originalBorder: #d03333cc;
    --vscode-inlineEdit-originalChangedLineBackground: #d03333cc;
    --vscode-inlineEdit-originalChangedTextBackground: #00000000;
    --vscode-inlineEdit-tabWillAcceptModifiedBorder: #14852a;
    --vscode-inlineEdit-tabWillAcceptOriginalBorder: #d03333;
    --vscode-input-background: #f9f9fa;
    --vscode-input-border: #bbc1c7;
    --vscode-input-foreground: #091316;
    --vscode-input-placeholderForeground: #a0a8af;
    --vscode-inputOption-activeBackground: #a0a8af;
    --vscode-inputOption-activeBorder: #00000000;
    --vscode-inputOption-activeForeground: #091316;
    --vscode-inputOption-hoverBackground: #d7dbde;
    --vscode-inputValidation-errorBackground: #f9f9fa;
    --vscode-inputValidation-errorBorder: #bb9600;
    --vscode-inputValidation-infoBackground: #f9f9fa;
    --vscode-inputValidation-infoBorder: #22a5c9;
    --vscode-inputValidation-warningBackground: #f9f9fa;
    --vscode-inputValidation-warningBorder: #bb9600;
    --vscode-keybindingLabel-background: #f9f9fa;
    --vscode-keybindingLabel-border: #68919c;
    --vscode-keybindingLabel-bottomBorder: #68919c;
    --vscode-keybindingLabel-foreground: #000000;
    --vscode-list-activeSelectionBackground: #68919c33;
    --vscode-list-activeSelectionForeground: #091316;
    --vscode-list-dropBackground: #22a5c915;
    --vscode-list-errorForeground: #ac2121;
    --vscode-list-focusBackground: #22a5c940;
    --vscode-list-focusForeground: #000000;
    --vscode-list-highlightForeground: #bb9600;
    --vscode-list-hoverBackground: #68919c1a;
    --vscode-list-hoverForeground: #000000;
    --vscode-list-inactiveSelectionBackground: #68919c1f;
    --vscode-list-inactiveSelectionForeground: #091316;
    --vscode-list-warningForeground: #bc7400;
    --vscode-menu-background: #f9f9fa;
    --vscode-menu-border: #c9ced2;
    --vscode-menu-foreground: #000000;
    --vscode-menu-selectionForeground: #000000;
    --vscode-menu-separatorBackground: #c9ced265;
    --vscode-menubar-selectionBackground: #f9f9fa;
    --vscode-menubar-selectionForeground: #000000;
    --vscode-merge-border: #c9ced2;
    --vscode-merge-commonContentBackground: #bb960030;
    --vscode-merge-commonHeaderBackground: #bb960080;
    --vscode-merge-currentContentBackground: #14852a30;
    --vscode-merge-currentHeaderBackground: #14852a80;
    --vscode-merge-incomingContentBackground: #0468bf30;
    --vscode-merge-incomingHeaderBackground: #0468bf80;
    --vscode-minimap-background: #f3f4f5;
    --vscode-minimap-errorHighlight: #ac2121;
    --vscode-minimap-findMatchHighlight: #22a5c9;
    --vscode-minimap-selectionHighlight: #22a5c9;
    --vscode-minimap-selectionOccurrenceHighlight: #22a5c9;
    --vscode-minimap-warningHighlight: #bc7400;
    --vscode-minimapGutter-addedBackground: #14852a;
    --vscode-minimapGutter-deletedBackground: #ac2121;
    --vscode-minimapGutter-modifiedBackground: #0468bf;
    --vscode-multiDiffEditor-border: #c9ced2;
    --vscode-multiDiffEditor-headerBackground: #e5e7e9;
    --vscode-notificationCenterHeader-background: #f9f9fa;
    --vscode-notificationCenterHeader-foreground: #091316;
    --vscode-notificationLink-foreground: #bb9600;
    --vscode-notifications-background: #f9f9fa;
    --vscode-notifications-border: #c9ced2;
    --vscode-notifications-foreground: #000000;
    --vscode-notificationsErrorIcon-foreground: #d03333;
    --vscode-notificationsInfoIcon-foreground: #0073d1;
    --vscode-notificationsWarningIcon-foreground: #d06200;
    --vscode-panel-background: #eeeff1;
    --vscode-panel-border: #c9ced2;
    --vscode-panel-dropBorder: #68919c80;
    --vscode-panelInput-border: #d7dbde;
    --vscode-panelSection-border: #c9ced2;
    --vscode-panelSectionHeader-background: #e0e2e5;
    --vscode-panelSectionHeader-border: #c9ced2;
    --vscode-panelSectionHeader-foreground: #091316;
    --vscode-panelTitle-activeBorder: #22a5c9;
    --vscode-panelTitle-activeForeground: #22a5c9;
    --vscode-panelTitle-inactiveForeground: #68919c;
    --vscode-peekView-border: #c9ced2;
    --vscode-peekViewEditor-background: #fefefe;
    --vscode-peekViewEditor-matchHighlightBackground: #f9f9fa40;
    --vscode-peekViewEditor-matchHighlightBorder: #00000000;
    --vscode-peekViewEditorGutter-background: #fefefe;
    --vscode-peekViewEditorStickyScroll-background: #fbfcfc;
    --vscode-peekViewResult-background: #fafafb;
    --vscode-peekViewResult-fileForeground: #091316;
    --vscode-peekViewResult-lineForeground: #000000;
    --vscode-peekViewResult-matchHighlightBackground: #22a5c980;
    --vscode-peekViewResult-selectionBackground: #22a5c933;
    --vscode-peekViewResult-selectionForeground: #091316;
    --vscode-peekViewTitle-background: #ffffff;
    --vscode-peekViewTitleDescription-foreground: #091316;
    --vscode-peekViewTitleLabel-foreground: #091316;
    --vscode-pickerGroup-border: #c9ced2;
    --vscode-pickerGroup-foreground: #091316;
    --vscode-profileBadge-background: #22a5c9;
    --vscode-profileBadge-foreground: #f3f4f5;
    --vscode-progressBar-background: #bb9600;
    --vscode-quickInput-background: #fbfcfc;
    --vscode-quickInput-foreground: #000000;
    --vscode-quickInputList-focusBackground: #68919c33;
    --vscode-quickInputList-focusForeground: #000000;
    --vscode-quickInputList-focusIconForeground: #091316;
    --vscode-quickInputTitle-background: #e9ebed;
    --vscode-sash-hoverBorder: #22a5c950;
    --vscode-scmGraph-foreground1: #0073d1;
    --vscode-scmGraph-foreground2: #e022b4;
    --vscode-scmGraph-foreground3: #5e8516;
    --vscode-scmGraph-foreground4: #009999;
    --vscode-scmGraph-foreground5: #e8386a;
    --vscode-scmGraph-historyItemBaseRefColor: #8737e6;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #14852a;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #000000;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #161f22;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #ac2121;
    --vscode-scmGraph-historyItemHoverLabelForeground: #161f22;
    --vscode-scmGraph-historyItemRefColor: #bb9600;
    --vscode-scmGraph-historyItemRemoteRefColor: #0073d1;
    --vscode-scrollbar-shadow: #00000033;
    --vscode-scrollbarSlider-activeBackground: #0913164d;
    --vscode-scrollbarSlider-background: #09131626;
    --vscode-scrollbarSlider-hoverBackground: #09131633;
    --vscode-selection-background: #22a5c961;
    --vscode-settings-headerForeground: #091316;
    --vscode-settings-modifiedItemIndicator: #22a5c9;
    --vscode-settings-settingsHeaderHoverForeground: #091316;
    --vscode-sideBar-background: #e9ebed;
    --vscode-sideBar-border: #c9ced2;
    --vscode-sideBar-foreground: #000000cc;
    --vscode-sideBarSectionHeader-background: #e9ebed;
    --vscode-sideBarSectionHeader-border: #c9ced2;
    --vscode-sideBarSectionHeader-foreground: #091316;
    --vscode-sideBarStickyScroll-background: #e3e6e8;
    --vscode-sideBarStickyScroll-shadow: #00000033;
    --vscode-sideBarTitle-foreground: #68919c;
    --vscode-statusBar-background: #f3f4f5;
    --vscode-statusBar-border: #c9ced2;
    --vscode-statusBar-debuggingBackground: #d1e4ec;
    --vscode-statusBar-debuggingForeground: #132f38;
    --vscode-statusBar-foreground: #00000080;
    --vscode-statusBar-noFolderBackground: #e9ebed;
    --vscode-statusBar-noFolderBorder: #c9ced2;
    --vscode-statusBar-noFolderForeground: #000000cc;
    --vscode-statusBarItem-activeBackground: #f9f9fa;
    --vscode-statusBarItem-compactHoverBackground: #22a5c9cc;
    --vscode-statusBarItem-errorBackground: #ac2121;
    --vscode-statusBarItem-errorForeground: #f3f4f5;
    --vscode-statusBarItem-errorHoverBackground: #d62a2a;
    --vscode-statusBarItem-errorHoverForeground: #f3f4f5;
    --vscode-statusBarItem-hoverBackground: #c0dce8;
    --vscode-statusBarItem-hoverForeground: #091316;
    --vscode-statusBarItem-offlineBackground: #e022b4;
    --vscode-statusBarItem-offlineForeground: #f3f4f5;
    --vscode-statusBarItem-offlineHoverBackground: #e64fc3;
    --vscode-statusBarItem-offlineHoverForeground: #f3f4f5;
    --vscode-statusBarItem-prominentBackground: #f3f4f5;
    --vscode-statusBarItem-prominentForeground: #f3f4f5;
    --vscode-statusBarItem-prominentHoverBackground: #ffffff;
    --vscode-statusBarItem-prominentHoverForeground: #f3f4f5;
    --vscode-statusBarItem-remoteBackground: #009999;
    --vscode-statusBarItem-remoteForeground: #f3f4f5;
    --vscode-statusBarItem-remoteHoverBackground: #00cccc;
    --vscode-statusBarItem-remoteHoverForeground: #f3f4f5;
    --vscode-statusBarItem-warningBackground: #bc7400;
    --vscode-statusBarItem-warningForeground: #f3f4f5;
    --vscode-statusBarItem-warningHoverBackground: #ef9300;
    --vscode-statusBarItem-warningHoverForeground: #f3f4f5;
    --vscode-tab-activeBackground: #f3f4f5;
    --vscode-tab-activeBorder: #f3f4f5;
    --vscode-tab-activeBorderTop: #22a5c9;
    --vscode-tab-activeForeground: #091316;
    --vscode-tab-border: #c9ced2;
    --vscode-tab-hoverBackground: #f3f4f5;
    --vscode-tab-inactiveBackground: #e9ebed;
    --vscode-tab-inactiveForeground: #68919c;
    --vscode-tab-lastPinnedBorder: #c9ced2;
    --vscode-tab-unfocusedActiveBorder: #f3f4f5;
    --vscode-tab-unfocusedActiveForeground: #22a5c9;
    --vscode-tab-unfocusedHoverBackground: #f3f4f5;
    --vscode-tab-unfocusedInactiveForeground: #68919c;
    --vscode-terminal-ansiBlack: #f3f4f5;
    --vscode-terminal-ansiBlue: #0468bf;
    --vscode-terminal-ansiBrightBlack: #b6bac3;
    --vscode-terminal-ansiBrightBlue: #0068c3;
    --vscode-terminal-ansiBrightCyan: #009999;
    --vscode-terminal-ansiBrightGreen: #00991e;
    --vscode-terminal-ansiBrightMagenta: #ff03c5;
    --vscode-terminal-ansiBrightRed: #cb0202;
    --vscode-terminal-ansiBrightWhite: #27525e;
    --vscode-terminal-ansiBrightYellow: #bb9600;
    --vscode-terminal-ansiCyan: #009999;
    --vscode-terminal-ansiGreen: #14852a;
    --vscode-terminal-ansiMagenta: #e022b4;
    --vscode-terminal-ansiRed: #ac2121;
    --vscode-terminal-ansiWhite: #091316;
    --vscode-terminal-ansiYellow: #bb9600;
    --vscode-terminal-background: #eeeff1;
    --vscode-terminal-foreground: #091316;
    --vscode-terminal-selectionForeground: #091316;
    --vscode-terminalCursor-background: #f3f4f5;
    --vscode-terminalCursor-foreground: #bb9600;
    --vscode-terminalStickyScrollHover-background: #fbfcfc;
    --vscode-textBlockQuote-background: #0468bf33;
    --vscode-textBlockQuote-border: #0468bfb9;
    --vscode-textCodeBlock-background: #0468bf33;
    --vscode-textLink-activeForeground: #22a5c9;
    --vscode-textLink-foreground: #22a5c9;
    --vscode-textPreformat-background: #dcc488;
    --vscode-textPreformat-foreground: #221b00;
    --vscode-textSeparator-foreground: #22a5c9;
    --vscode-titleBar-activeBackground: #cdd2d6;
    --vscode-titleBar-activeForeground: #09131699;
    --vscode-titleBar-border: #c9ced2;
    --vscode-titleBar-inactiveBackground: #cdd2d6;
    --vscode-titleBar-inactiveForeground: #09131699;
    --vscode-toolbar-activeBackground: #68919c80;
    --vscode-toolbar-hoverBackground: #68919c4d;
    --vscode-tree-indentGuidesStroke: #68919c70;
    --vscode-walkThrough-embeddedEditorBackground: #f3f4f5;
    --vscode-welcomePage-progress-background: #f9f9fa;
    --vscode-welcomePage-progress-foreground: #22a5c9;
    --vscode-welcomePage-tileBackground: #0000001a;
    --vscode-welcomePage-tileBorder: #00000033;
    --vscode-welcomePage-tileHoverBackground: #00000033;
    --vscode-widget-shadow: #0000000d;
    --vscode-chat-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --vscode-editorCodeLens-fontFamily: inherit;
    --vscode-editorCodeLens-fontFamilyDefault: inherit;
    --vscode-editorCodeLens-fontFeatureSettings: inherit;
    --vscode-editorCodeLens-fontSize: 12px;
    --vscode-editorCodeLens-lineHeight: inherit;
    --vscode-editorStickyScroll-foldingOpacityTransition: opacity 0.5s;
    --vscode-editorStickyScroll-scrollableWidth: 0px;
    --vscode-icon-x-content: "";
    --vscode-icon-x-font-family: codicon;
    --vscode-parameterHintsWidget-editorFontFamily: inherit;
    --vscode-parameterHintsWidget-editorFontFamilyDefault: inherit;
    --vscode-sash-hover-size: 4px;
    --vscode-sash-size: 4px;
    --vscode-sideBarActivityBarTop-border: #d4d4d4;
}
